@charset "ISO-8859-1";
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
form{
	height:900px
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}