@charset "ISO-8859-1";
:root{
    --fontColor:#6500B8;
}
body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: -webkit-linear-gradient(left,#8325C7,#00BF8F);
    color: var(--fontColor);
}
.form{

height: 400px;
width: 280px;
background-color: white;
padding-left: 10px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items:center;
}
h1{
    font-weight: 400;

}
input{
    margin-top: 15px;
    padding:10px;
    background: transparent;
    border: 1px solid transparent;
    border-bottom-color: var(--fontColor);
}
input::placeholder{
    color:var(--fontColor);
    font-size: 1.2em;
}
input:focus{
outline: none;
}
button{
    width: 200px;
    height: 30px;
    font-size: 16px;
    background: -webkit-linear-gradient(left,#8325C7,#00BF8F);
    border-radius: 20px;
    border: none;
    color: white;
    margin:15px auto 15px auto;
    cursor: pointer;
}
button:active{
    transform: scale(1.02);
}
p{
    text-align: center;
    text-decoration: underline;
}
.icons > a{
    font-size: 1.6em;
    padding: 3px;
    color: var(--fontColor);
    text-decoration: none;
}
.icons >a>i:hover{
    transform: scale(1.2);
    color: #00BF8F;
}